<div class="container">
  <h2>Elija entre sus opciones de viaje</h2>            
  <table class="table table-responsive text-center">
    <thead>
      <tr>
        <th>Origen</th>
        <th>Destino</th>
        <th>Escalas</th>
        <th>Precio</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <% travels.forEach(function(travel) { %>
        <tr>
          <td><%= travel.origin %></td>
          <td><%= travel.destiny %></td>
          <td><%= travel.escalas %></td>
          <td><%= travel.precio %></td>
          <td><%= travel.action %></td>
        </tr>
       <% }); %>
    </tbody>
  </table>
</div>